.preload {
    flex-direction: column;
    background-color: #fff;
    height: 100vh;
    top: 0;
    position: fixed !important;
    z-index: 999;
    left: 0;
    right: 0;
    img {
        margin-top: 50px;
    }
}

@keyframes ldio-kt6dudutv6 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ldio-kt6dudutv6 div {
    box-sizing: border-box !important;
}
.ldio-kt6dudutv6 > div {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 14px;
    left: 14px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #f15f19 transparent #f15f19 transparent;
    animation: ldio-kt6dudutv6 1s linear infinite;
}

.ldio-kt6dudutv6 > div:nth-child(2),
.ldio-kt6dudutv6 > div:nth-child(4) {
    width: 54px;
    height: 54px;
    top: 23px;
    left: 23px;
    animation: ldio-kt6dudutv6 1s linear infinite reverse;
}
.ldio-kt6dudutv6 > div:nth-child(2) {
    border-color: transparent #f8b26a transparent #f8b26a;
}
.ldio-kt6dudutv6 > div:nth-child(3) {
    border-color: transparent;
}
.ldio-kt6dudutv6 > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-kt6dudutv6 > div:nth-child(3) div:before,
.ldio-kt6dudutv6 > div:nth-child(3) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 24px;
    background: #f15f19;
    border-radius: 50%;
    box-shadow: 0 64px 0 0 #f15f19;
}
.ldio-kt6dudutv6 > div:nth-child(3) div:after {
    left: -8px;
    top: 24px;
    box-shadow: 64px 0 0 0 #f15f19;
}

.ldio-kt6dudutv6 > div:nth-child(4) {
    border-color: transparent;
}
.ldio-kt6dudutv6 > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-kt6dudutv6 > div:nth-child(4) div:before,
.ldio-kt6dudutv6 > div:nth-child(4) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 15px;
    background: #f8b26a;
    border-radius: 50%;
    box-shadow: 0 46px 0 0 #f8b26a;
}
.ldio-kt6dudutv6 > div:nth-child(4) div:after {
    left: -8px;
    top: 15px;
    box-shadow: 46px 0 0 0 #f8b26a;
}
.loadingio-spinner-double-ring-mpjt70d938o {
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-kt6dudutv6 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.6);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-kt6dudutv6 div {
    box-sizing: content-box;
}
/* generated by https://loading.io/ */
