.container {
    margin-top: 63px !important;
    img {
        // margin-top: 16px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.body {
    background: url('../../../assets/img/background.png') no-repeat center;
    background-size: cover;
    img {
        padding: 24px 0;
        border-radius: 87px;
    }
}
