.status-action {
    display: flex;
}
.status-btn {
    background-color: #ebebec;
    font-size: 13px;
    padding: 6px 12px;
    cursor: pointer;
    + .status-btn {
        margin-left: 6px;
    }
    &.active {
        background-color: var(--primary-color);
        color: #fff;
    }
}
.item {
    font-size: 15px;
    margin-top: 14px;
    cursor: default;
    + .item {
        margin-top: 24px;
    }
}
.content {
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 16px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 14px;
    border-radius: 8px;
    background-color: rgb(222 222 222 / 30%);
}
.container {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #cac9c9;
    padding: 8px 0;
    .image {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 100%;
    }
}
.name {
    font-weight: 500;
}
.date {
    color: #9e9b9b;
}
.status {
    display: flex;
    align-items: center;
    span {
        font-size: 14px;
        padding: 4px 16px;
        font-weight: 500;
        background-color: var(--primary-color);
        border-radius: 24px;
        color: #fff;
        svg {
            margin-right: 6px;
        }
    }
}
.product {
    width: 100%;
    margin-left: 18px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    &-quantity {
        margin-bottom: 0;
        color: #9e9b9b;
    }
    &-name {
        margin-bottom: 0;
        font-weight: 500;
    }
}
.price {
    margin-top: 14px;
    text-align: right;
    font-weight: 500;
}
.detail {
    margin-bottom: 0;
    margin-right: 24px;
    font-size: 13px;
    cursor: pointer;
    svg {
        margin-bottom: 2px;
    }
    &:hover {
        transition: 0.2s ease;
        color: var(--primary-color);
    }
}
.body {
    padding: 0 16px 16px 16px !important;
}
.info {
    margin-top: 16px;
    font-size: 15px;
    font-weight: 500;
    div {
        display: flex;
        justify-content: space-between;
        + div {
            margin-top: 8px;
        }
    }
    // span {
    //     margin-left: auto;
    // }
}
