.btn {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #eaeff3;
    color: black;
    &:hover {
        color: black;
    }
}

.customLeft {
    left: 0;
}
.customRight {
    right: 0;
}

.title {
    background-color: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    h5 {
        font-weight: 700;
        margin-bottom: 0;
    }
    div {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: rgb(67 66 66);
        svg {
            margin-left: 6px;
        }
    }
}
