.btn {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #eaeff3;
    color: black;
    &:hover {
        color: black;
    }
}
.carousel {
    position: unset !important;
}
.customLeft {
    left: -10px;
}
.customRight {
    right: -20px;
}

.title {
    background-color: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    h5 {
        font-weight: 700;
        margin-bottom: 0;
    }
    div {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: rgb(67 66 66);
        svg {
            margin-left: 6px;
        }
    }
}
