.page-content {
    .row {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.custom-row {
    --mdb-gutter-x: 12px;
    padding: 0;
    .col {
        margin-bottom: 12px;
    }
}
.list-group-item:first-child {
    border: 1px solid #ccc;
    border-bottom: unset;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    span {
        margin-left: 8px;
        font-size: 14px;
        font-weight: 500;
    }
}
.list-group {
    border-radius: unset;
    font-size: 14px;

    &-item {
        cursor: pointer;
        transition: 0.2s ease-in-out;
        padding: 8px 14px;
        &.active {
            background-color: var(--primary-color);
            border: none;
        }
        &:first-child {
            cursor: default;
        }
    }
    margin-bottom: 16px;
}
.policy-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.policy-item {
    padding: 12px 14px;
    background-color: #eaeff3;
    border-radius: 12px;

    p {
        margin-bottom: 8px;
        font-weight: 600;
    }
    span {
        font-size: 14px;
    }
    + .policy-item {
        margin-top: 18px;
    }
}
.page-item.active .page-link {
    background-color: var(--primary-color);
    border: none;
}
.banner {
    width: 100%;
    margin-bottom: 18px;
    min-height: 42px;
    border-radius: 12px;
    transform: scale(1);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
        transform: scale(1.03);
        transition: 0.2s ease-in-out;
    }
}

.category {
    &-home {
        margin: 32px 0;
        background: #fff;
        padding: 24px 16px;
        border-radius: 8px;
        text-align: center;
    }
    &-item {
        cursor: pointer;
        margin-top: 28px;
        img {
            transform: scale(1);
            transition: 0.5s ease;
        }

        &:hover {
            img {
                transform: scale(1.25);
            }
        }
    }
    &-title {
        font-weight: 400;
        margin-top: 14px;
    }
}

.home-title {
    background-color: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;

    h5 {
        font-weight: 700;
        margin-bottom: 0;
    }
    div {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: rgb(67 66 66);
        svg {
            margin-left: 6px;
        }
    }
}

//Responsive
@media (max-width: 739px) {
    .list-group {
        height: 35px;
        overflow: hidden;
        transition: all 0.3s ease;
        &:first-child {
            border-bottom: 1px solid #ccc;
            cursor: default;
        }
    }
    .list-group.active {
        height: 270px;
    }
}
@media (min-width: 740px) and (max-width: 992px) {
    .list-group {
        height: 35px;
        overflow: hidden;
        transition: all 0.3s ease;
        &:first-child {
            border-bottom: 1px solid #ccc;
            cursor: default;
        }
    }
    .list-group.active {
        height: 270px;
    }
}
