.item-carousel {
    height: 350px;
    object-fit: cover;
}
.carousel-inner,
.carousel-item {
    height: 100% !important;
    cursor: pointer;
    border-radius: 14px;
    img {
        border-radius: 12px;
        height: 100%;
    }
}
