.product {
    &-item {
        background-color: #fff;
        padding: 12px;
        padding-top: 24px;
        position: relative;
        height: 100%;
        border-radius: 10px;
        cursor: pointer;
        p {
            margin-top: 16px;
            margin-bottom: 0;
        }
        a {
            color: unset;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
    &-img {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 175px;
        img {
            width: 85%;
            position: relative;
            transition: 0.3s ease;
        }
    }
    &-title {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        svg {
            flex-shrink: 0;
        }
    }
    &-name {
        font-weight: 600;
        height: 56px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &-btn {
        padding: 6px 12px;
        border: none;
        position: absolute;
        right: 0px;
        bottom: 12px;
        background-color: unset;
        img {
            width: 32px;
        }
    }
    &-price {
        margin: 4px 0px;
        font-size: 15px;
        color: #e2041ee6;
        font-weight: 600;
        margin-right: 10px;
    }
    &-oldprice {
        font-size: 13px;
        color: #707070;
        font-weight: 600;
        text-decoration: line-through;
    }
}
.default {
    background: url('../../assets/icon/logoIcon.png') no-repeat center;
    background-size: 100px 100px;
}
.discount {
    width: 80px;
    position: absolute;
    height: 31px;
    top: -1px;
    left: -5px;
    background: url('../../assets/img/discount.png') no-repeat;
    background-size: contain;
    p {
        font-weight: 700;
        text-align: center;
        color: #fff;
        width: 100%;
        margin: 5px 0 0;
        font-size: 11px;
    }
}
.warranty {
    background-color: #ccc;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px;
}
